@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
:root {
  --primary-color: #3385cd;
  --secodary-hover: #6c757d;
  --secondary-hover-btn: #1accd9;
  --primary-bg-color: #faf7f4;
  --primary-text-color: #000;
  --secondary-text-color: #000;
  --heading-text-color: #98229b;
  --input-label-color: #df9700;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 500;
  scroll-behavior: smooth;
  font-family: "Nunito Sans", sans-serif !important;
}

/* =============commo btn=============== */
.common__btn {
  text-align: center;
  line-height: 24px;
  background-color: var(--primary-color);
  color: var(--primary-bg-color) !important;
  border: 1px solid var(--primary-color);
  font-weight: 500;
  border-radius: 2.25rem;
  padding: 10px 20px;
  width: 50%;
}


.heading__text__color {
  color: var(--heading-text-color) !important;
}

.subheading__text__color {
  color: var(--secondary-text-color) !important;
}

/* .btn.focus,
.btn:focus {
  outline: 0;
  color: var(--primary-bg-color) !important;
  box-shadow: 0 0 0 0.2rem rgb(136, 14, 79, 0.45) !important;
} */

/* Global heading sizes */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito Sans", sans-serif !important;
}

.h1,
h1 {
  font-size: 45px;
  font-weight: 600;
}

.h2,
h2 {
  font-size: 38px;
  /* 2rem */
  font-weight: 600;
}

.h3,
h3 {
  font-size: 30px;
  /* 1.75rem */
  font-weight: 500;
}

.h4,
h4 {
  font-size: 24px;
  /* 1.5rem */
  font-weight: 500;
}

.h5,
h5 {
  font-size: 20px;
  /* 1.25rem */
  font-weight: 500;
}

.h6,
h6 {
  font-size: 16px;
  /* 1rem */
  font-weight: 400;
}

.gallery__section h2,
.gallery__section p {
  color: var(--primary-bg-color);
}

/* smooth scrolling */
html {
  scroll-behavior: smooth;
  /* Enables smooth scrolling */
}

/* ========================================================================== */

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none !important;
}

/* =========================================================================== */
